body {
  background-color: #F0EBEB;
  background-repeat: repeat;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  /*←footerの高さ*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
}