.footer {
  width: 100vw;
  background-color: #FFF;
  color: #333333;
  text-align: center;
  height: 110px;
  padding: 2vh 0;
  position: absolute;/*絶対位置*/
  bottom: 0; /*下に固定*/
}

.logo-white {
  width: 150px;
  height: auto;
  vertical-align: bottom;
}

.footer-contents {
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 0.5rem;
}