#setting_center{
  display: flex;
  justify-content: center;
}

.point_description{
  border-radius: 60px;
  background: #FFBA78;
  padding: 30px;
}

.point_description, li{
  text-align: left;
}

.if_then_title{
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid #333333;
}