<div class='footer'>
    <div class='image-details'>
    <%= link_to image_tag("icon.png", class:"action-icon"), habits_path %>
    </div>
    <nav class='footer-contents'>
     <p>© Copyright 2021 Action All rights reserved.</p>
    </nav>
</div>