<div class='footer'>
 <%# <div class='action-details'> %>
    <%# <h2 class='footer-content-head'>Actionについて</h2>
      <ul class="description">
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %>
        <%# </li> %>
        <%# <li><%= link_to 'Action利用規約', "#", class: "footer-link" %>
        <%# </li> %> 
      <%# </ul> %> 
  <%# </div> %>
    <div class='image-details'>
    <%= link_to image_tag("icon.png", class:"action-icon"), objectives_path %>
    </div>
    <nav class='footer-contents'>
     <p>© Copyright 2021 Action All rights reserved.</p>
    </nav>
</div>