.container_chat {
  margin: 32px 200px;
  background: #B79891;
  background: -webkit-linear-gradient(to right, #94716B, #B79891);
  background: linear-gradient(to right, #94716B, #B79891);
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow:  17px 17px 34px #b5b5b5,
  -17px -17px 34px #ffffff;
}

/* ラジオボタン */
.form_chat {
	margin: 2em auto;
	border-radius: 10px;
  background: #F0EBEB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_btn{
  margin: 3px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.right_btn{
  margin: 3px;
  display: flex;
  justify-content: left;
  text-align: left;
}

#content_worry{
  width: 230px;
  height: 45px;
  margin: 0;
  border-right: 0;
  border-radius: 2px;
  border: 1px solid gray;
}

#submit_message{
  width: 100px;
  height: 45px;
  margin: 0;
  padding: 0;
  border-left: 0;
  border-radius: 2px;
  border: 1px solid gray;
  border-left: 0;
}

.form_chat input[type=radio]{
  opacity: 0;
  height: 0;
  display: flex;
}

.form_chat label:active,
.form_chat input:checked + label {
	color: #F89174;
}

.form_chat  label:active:before,
.form_chat  input:checked + label:before {
	border-color: #F89174;
}

.form_chat label {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	position: relative;
	display: block;
	padding: 1em 1em 1em 3em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.form_chat label:before {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
	border-radius: 50%;
}

.form_chat input:checked + label:before {
	border-color: #F89174;
	background: #F89174;
}

.form_chat input:disabled + label {
	cursor: not-allowed;
	color: #333333;
	background: #efefef;
}

.form_chat input:disabled + label:before {
	border-color: #ffffff;
	background: #ffffff;
}

/* フォーム部分 */
input[type="text"] {
  /* width: 35em; */
  height: 40px;
  padding: 10px;
  margin-left: 2em;
}

/* チャット部分 */
.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message-left-side {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 32px;
}

.message-right-side {
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 32px;
}

.pic-chat {
  width: 120px;
  text-align: center;
  padding-top: 8px;
}

.pic-chat img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.text-chat {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}

.text-chat::before {
  content: '';
  width: 0;
  height: 0;
  border: 14px solid transparent;
  position: absolute;
}

.message-left-side .text-chat::before {
  top: 18px;
  left: -28px;
  border-right-color: #fff;
}

.message-right-side .text-chat::before {
  top: 18px;
  right: -28px;
  border-left-color: #fff;
}
