.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26)
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 18px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  /* font-size: 16px; */
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  /* font-size: 16px; */
  resize: none;
}

.info-text {
  color: #888;
  /* font-size: 15px; */
  margin-top: 3px;
}

.form-info-text {
  /* font-size: 15px; */
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

form input[type="submit"].register-btn-action {
  background: #F89174;
  border: 1px solid #F89174;
  width: 100%;
  color: #fff;
  line-height: 48px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
}

form input[type="submit"].register-btn-action:hover {
  background-color: hsl(13, 91%, 65%);
  color: #fff;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

.indispensable{
  color: rgba(255, 0, 0, 0.652);
}

/* パスワードを15文字以上打つとマークが鮮明になるよう実装 */
.password-logo{
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    filter: blur(20px);
    z-index: -1;
}